{% extends 'layout.html' %}
<!doctype html>
{% block body %} 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Space Apps Challenge 2018 HSV</title>

    <!-- Custom styles for this template -->
    <link href="./css/album.css" rel="stylesheet">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Do You Know When the Next Rocket Launch Is?</h1>
          <p class="lead text-muted">Stay up-to-date with the world's latest space launches</p> <p>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
        {% for launch in launches %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <a href="/launch/{{launch.mission}}">
                  <img class="card-img-top" src={{launch.image}}>
                </a>
                <div class="card-body">
				    <!--<a href="/launch/{{launch.mission}}">  -->
                    <p class="card-text"><big><b><u> {{launch.mission}} </big></b> </u><br> </p>
						<p class="card-text"><i><b> {{launch.location}} </b></i> <br> </p>
						<p>{{launch.Description}}</p>
					</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Launch Date: {{launch.date}}</small>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
          </div>
        </div>
      </div>


    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
{% endblock %}
