{% extends 'layout.html' %}
{% block body %}

<link href={{url_for('static', filename="launch.css")}} rel="stylesheet">

<div class="container" style="background-color:#000000">
<div class="row info" style="text-align:center;">
</div>
<div class="col-lg-12">
    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{launch.image}}" alt="">
        <div class="card-body">
            <h3 class="card-title">{{launch.mission}}</h3>
            <h4>{{launch.manufacturer}}</h4>
            <p class="card-text">{{launch.description}}</p>
        </div>
    </div>
    <!-- /.card -->
</div>
<!-- /.col-lg-9 -->
</div>

{% endblock %}
